html body{
    background: linear-gradient(rgb(10, 14, 23), rgb(10, 14, 23));
    /* background-image: none; */
}

section {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column nowrap;
    min-height: 50vh;  
}

section h2, #welcome{
    font-size: 1.7rem;
    color: var(--golden-snitch);
    letter-spacing: 1px;
    font-family: 'Crimson Text', serif;
}

strong { color: var(--golden-snitch); }

section h2::after{
    content: '';
    display: block;
    width: 30%;
    height: 4px;
    background: linear-gradient(90deg, var(--hogwarts-purple), var(--golden-snitch));
    margin: 10px auto;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(116, 0, 184, 0.5);
}

section p{ font-size: 1.1rem; }

.introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(rgba(10, 14, 23, 0.3), rgba(10, 14, 23, 0.3)),
    url("/images/castelo.jpg") no-repeat center center/cover;
    height: 65vh;  
    position: relative;
    border-radius: 0 0 20% 20%;
    position: relative;
    z-index: 10;
}

.introducao h3 {
    font-size: 3rem;
    background: linear-gradient(90deg, var(--golden-snitch), rgb(255, 220, 104)); /* var(--hogwarts-purple)*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

.historia{ 
    padding-top: 3%; 
    padding-bottom: 30px;
    border-radius: 0 0 10% 10%;
    position: relative;
}

.historia-img {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;   
    position: relative;
}

.historia-img img {
    display: block;
    margin: 0 auto;  
    max-width: 70%;  
    width: 20vw;
    height: auto;    
    object-fit: cover; 
}

.historia-content {
    display: flex;
    flex-direction: row;
    height: auto;
}

.historia #hoje {
    padding-top: 80px;
}

.historia-text {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    gap: 15px;
}

.historia-text li {
    font-size: 16px;
}

.valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding: 0 5%;
    gap: 15px;
    background: linear-gradient(rgb(10, 14, 23) ,#1A0A2E );
}

#highlited-p {
    font-family: 'Metamorphous', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
    animation: pulse 3s ease-in-out infinite;
    padding-top: 0;
    background: linear-gradient(90deg, var(--golden-snitch), rgb(255, 220, 104));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding-bottom: 30px;
}

.valores h2, .valores p{ padding-top: 30px; }

.valores p{
    text-align: center;
    font-size: 1.2rem;
}

.valores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    width: 100%;
}

.grid-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    position: relative;
}

.valores-icon{
    font-size: 2.7rem;
    margin-bottom: 25px;
    color: var(--golden-snitch);
}

.grid-card h3{ 
    color: var(--golden-snitch); 
    position: relative;
}

.grid-card h3::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background: var(--golden-snitch);
}

.grid-card p, .grid-card ul{
    flex: 1;
}

.grid-card ul{
    display: flex;
    align-items: self-start;
    flex-direction: column;
    font-size: 1.1rem;
    padding-top: 30px;
    padding-left: 5px;
}

#missao{
    padding: 20px 0 50px;
}

@media screen and (max-width: 1065px){
    .introducao{ height: 25vh;}

    .historia-img img{ width: 35vw; }

    #missao{ padding-top: 3%; }
}

@media (max-width: 970px){
    .historia{ padding-top: 10%; }

    .historia #hoje{ padding-top: 85px; }

    #missao, .grid-card{ padding-top: 5%; }

    .valores-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #missao{ padding-top: 0; }
}

@media (max-width: 755px){
    .historia-content{
        flex-direction: column;
        height: auto;
    }
}
    .historia-text h2, .historia-text ul{
        padding-top: 30px;
    }

    .historia #hoje{
        padding-top: 50px;
    }

    .grid-card p,  .grid-card ul{ 
        padding: 0 20%;
        padding-top: 20px;
    }

    .valores-grid{ gap: 0; }

@media (max-width: 576px){
    .historia-content{
        flex-direction: column;
        height: auto;
    }
    .historia-text{
        padding-top: 10%;
    }
    .introducao h3{ font-size: 2.5rem; }

    #highlited-p{ font-size: 1.8rem; }

    .valores-grid{ grid-template-columns: 1fr; }

    #missao{ padding-top: 5%;}
}

